<div class="page-header">
  <h1>Marketer #<%= @marketer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @marketer.name %></dd>

  <dt>Email</dt>
  <dd><%= @marketer.email %></dd>

  <dt>Avatar url</dt>
  <dd><%= @marketer.avatar_url %></dd>

</dl>
